body{ 
	background:#111; 
	font-family:'Helvetica', 'Verdana'; 
	color:#efefef;
	font-size: 14px;
}
main{ 
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}

h1,h2,h3,h4,h5,h6{ 
	font-weight: normal;
}