@font-face {
    font-family: 'Laila';
    src: url('../../public/fonts/laila-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Laila';
    src: url('../../public/fonts/laila-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Laila';
    src: url('../../public/fonts/laila-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}