.build-title{
	margin: 0 0 10px;
}

.build-controls{
	margin: 0 0 20px;
	padding: 10px;
	@include wow-thin-border;
}

.build-list{
	list-style-type: none;
}

.build-list-item{
	font-size: 16px;
	margin: 0 0 10px;
	padding: 0 0 10px;
	cursor: pointer;
	border-bottom: 1px solid #46474a;
}

.build-list-item:last-child{
	border-bottom: 0;
	margin: 0;
	padding: 0;
}