.class-list {
	list-style-type: none;
	padding: 20px 0 20px;
	text-align: center;
}

.class-list li {
	display: inline-block;
	margin: 0 5px 10px 5px;
	position: relative;
	cursor: pointer;
	width: 54px;
	height: 54px;
	border: 2px solid #6b6b6c;
	border-radius: 5px;
	border-top-color: #c7c9cb;
	border-bottom-color: #46474a;
	opacity: 0.85;
	vertical-align: top;
}

.class-list li img {
	display: block;
	width: 100%;
	pointer-events: none;
}

.class-list li.active,
.class-list li:hover {
	opacity: 1;
}

.class-list li:hover:after,
.class-list li.active:after {
	content: '';
	box-shadow: inset 0 0 16px #526db1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1px;
}

.class-list-name {
	margin-top: -8px;
	display: block;
	z-index: 2;
	position: relative;
	color: #ffd200;
	text-shadow: 0px 1px 4px #000;
	font-size: 14px;
}