.skill {
	position: relative;
	margin: 8px;
	padding: 1px;
	border: 2px solid transparent;
	border-radius: 5px;
	border-bottom: none;
	width: 58px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.skill-icon {
	width: 100%;
	overflow: hidden;
	border: 2px solid #6b6b6c;
	border-radius: 5px;
	border-top-color: #c7c9cb;
	border-bottom-color: #46474a;
	box-shadow: 0 1px 5px #000;
}

.skill-rank {
	position: absolute;
	bottom: -8px;
	right: -15px;
	background: #000;
	border-radius: 3px;
	padding: 4px 6px;
	cursor: default;
	border-radius: 5px;
	font-size: 12px;
}

.skill-icon-image {
	filter: grayscale(100%);
	width: 100%;
	display: block;
	pointer-events: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.skill.is-enabled {
	cursor: pointer;
	border-color: #16ba17;
	background: #000;
}

.skill.is-max-rank {
	border-color: #ffd200;
}

.skill.is-enabled .skill-icon-image {
	filter: grayscale(0);
}

.skill.is-enabled .skill-rank {
	cursor: pointer;
}

.skill.is-faded {
	opacity: 0.3;
}

.is-max-level .skill.is-enabled {
	border-color: #efefef;
}