.talent-path{
	margin: 20px 0 0 0;
}

.talent-path-table{
	width: 100%;
	border-collapse: collapse;
}

.talent-path-table th,
.talent-path-table td{
	border: 1px solid #ccc;
	padding: 5px 2px;
}

.talent-path-skill-icon{
	width: 30px;
}