.talent-path{
	margin: 0 0 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.talent-path-skill{
	text-align: center;
	padding: 5px;
}

.talent-path-skill.is-faded{
	opacity: 0.5;
}

.talent-path-level{
	margin: 0 0 5px;
}

.talent-path-skill-icon{
	width: 33px;
	display: block;
	pointer-events: none;
	-moz-user-select:none;
    -ms-user-select:none;
	-webkit-user-select:none;
	@include wow-thin-border;
}