.talent-trees{ 
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.talent-tree-panel{
	max-width: 350px;
	margin: 0 0 20px;
	text-align: center;
}
.talent-tree{ 
	padding: 5px;
	background:#333;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(7, 1fr);
	border: 1px solid #666;
	border: 2px solid #6b6b6c;
	border-radius: 5px;
	border-top-color: #c7c9cb;
	border-bottom-color: #46474a;
}
.talent-tree-title{ 
	text-align:center;
	font-size: 18px;
	padding: 10px 20px;
	display: inline-block;
	border: 2px solid #666;
	border-top-color: #c7c9cb;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 0;
}
.talent-tree-points{
	font-size: 15px;
}

.talent-info{
	padding: 15px;
	border: 1px solid #666;
	display: inline-block;
}

.talent-info-stat{
	font-size: 16px;
}

.talent-reset{
	font-size: 15px;
	color: #ff2f2a;
	margin: 0;
	cursor: pointer;
}

@media only screen and (min-width: 1200px) {
	.talent-trees{ 
		justify-content: space-between;
	}
	.talent-tree{
		padding: 10px;
	}
}