.talent-trees {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.talent-tree-panel {
	max-width: 350px;
	margin: 0 0 20px;
	text-align: center;
}

.talent-tree {
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(4, 75px);
	grid-template-rows: repeat(7, 1fr);
	border: 1px solid #6b6b6c;
	border-radius: 5px;
	border-top-color: #c7c9cb;
	border-bottom-color: #46474a;
}

.talent-tree-title {
	text-align: center;
	font-size: 18px;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid #666;
	border-top-color: #c7c9cb;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 0;
}

.talent-tree-points {
	font-size: 15px;
}

.talent-tree-reset {
	text-align: center;
	color: #d4d4d4;
	padding: 6px 15px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 10px;
	border: 1px solid #46474a;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 0;
}

.talent-tree-reset:hover {
	color: #efefef;
}

@media only screen and (min-width: 640px) {
	.talent-tree-panel {
		margin: 0 5px 20px;
	}
}

@media only screen and (min-width: 1200px) {
	.talent-trees {
		justify-content: space-between;
	}

	.talent-tree {
		padding: 10px;
	}
}