.talent-toolbar {
	display: flex;
	justify-content: center;
}

.talent-info {
	margin: 0 0 30px;
	border: 1px solid #6b6b6c;
	border-radius: 5px;
	border-top-color: #c7c9cb;
	border-bottom-color: #46474a;
	padding: 15px;
}

.talent-info-stat {
	font-size: 15px;
	display: inline;
	margin: 0 20px 0 0;
}

.talent-info-stat:last-child {
	margin: 0;
}