.logo {
	max-width: 300px;
	width: 100%;
	margin: 0 auto 10px;
	display: block;
}

.main-title {
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fef8be;
	margin: 0 0 20px;
}

.popup textarea {
	width: 100%
}

footer {
	padding: 0 0 20px;
}

footer p {
	padding: 0 0 20px;
	text-align: center;
}

footer ul {
	list-style-type: none;
	text-align: center;
}

footer ul li img {
	width: 25px;
	opacity: 0.6;
}

footer ul li img:hover {
	opacity: 1;
}