.logo{
	max-width: 300px;
	width: 100%;
	margin: 0 auto 10px;
	display: block;
}

.main-title{
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fef8be;
	margin: 0 0 20px;
}